.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background: #100058;
    
}
body {
    overflow-x: hidden;
}

.contacto::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(#B3C2F2,#9000B3);
    border-radius: 50%;
    transform: translate(-550px,-160px);
}

.contacto::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: linear-gradient(#169460, #FEC9F1);
    border-radius: 50%;
    transform: translate(600px, 200px);
}

.container-tres {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1450px;
    padding: 50px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
    h5 {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 36px;
        margin-bottom: 20px;
    }
    .row100 {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        .col {
            position: relative;
            width: 100%;
            padding: 0 10px;
            margin: 30px 0 20px;
            .inputBox {
                position: relative;
                width: 100%;
                height: 40px;
                color: #fff;
                input, textarea {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    box-shadow: none;
                    border: none;
                    outline: none;
                    font-size: 15px;
                    padding: 0 10px;
                    z-index: 1;
                    color: #000;
                }
                .text {
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 40px;
                    font-size: 18px;
                    padding: 0 10px;
                    transition: 0.5s;
                    pointer-events: none;
                }
                .line {
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                    transition: 0.5s;
                    border-radius: 2px;
                    pointer-events: none;
                }
            }
        }
    }
}

.container-tres::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}

.container-tres .row100 .col .inputBox input:focus + .text,
.container-tres .row100 .col .inputBox input:valid + .text,
.container-tres .row100 .col .inputBox textarea:focus + .text,
.container-tres .row100 .col .inputBox textarea:valid + .text {
    top: -35px;
    left: -10px;
}

.container-tres .row100 .col .inputBox input:focus ~ .line,
.container-tres .row100 .col .inputBox input:valid ~ .line {
    height: 100%;
}

.container-tres .row100 .col .inputBox textarea:focus ~ .line,
.container-tres .row100 .col .inputBox textarea:valid ~ .line {
    height: 100%;
}

.container-tres .row100 .col .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.container-tres .row100 .col #enviarCorreo {
    border: none;
    padding: 10px 40px;
    margin: 40px 0px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .contacto::before {
        transform: translate(-200px,-100px);
    }
    .contacto::after {
        transform: translate(72px,239px);
        width: 260px;
        height: 260px;
    }
    .container-tres {
        padding: 20px;
        h5 {
            font-size: 28px;
        }
    }

}